<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ appname }} | 404 Page</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div class="error-page-area">
			<div class="error-page-wrap">
				<i class="notika-icon notika-close"></i>
				<h2>ERROR <span class="counter">404</span></h2>
				<p>Sorry, but the page you are looking for has note been found.</p>
				<p>Try checking the URL for an error, then hit the refresh button on 
				your browser or try found something else in our app.</p>
				<a href="/" class="btn">Return</a>
			</div>
		</div>
	</body>
</html>