<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
        <script src="static/js/jquery-3.3.1.slim.min.js"></script>
        <title>{{ appname }} | {{ tablename }}</title>
    </head>
    <body class="d-flex flex-column h-100">
        <div class="container pt-4 pb-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <span class="navbar-brand">{{ appname }} Tables: </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/animes">Animes</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/characters">Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/people">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/animeography">Animeography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/staff">Staff</a>
                        </li>
                    </ul>
                    <a href="/"><button class="btn btn-outline-primary btn-sm">Home</button></a>
                </div>
            </nav>
        </div>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <form action="/update" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Entry from Database</h5>
                    </div>
                    <div class="modal-body">
                        {% if result %}
                            {% for i in range(0, numcols) %}
                                <label>{{ columns[i].name }}</label>
                                {% if columns[i].name == "id" %}
                                    <input type="text" class="form-control" name="{{ columns[i].name }}" value="{{ result[i] }}" readonly>
                                {% else %}
                                    <input type="text" class="form-control" name="{{ columns[i].name }}" value="{{ result[i] }}">
                                {% endif %}
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a href="/index"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></a>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </main>
        {% include "/_modal_create.html" %}
        {% include "/_modal_edit.html" %}
        {% include "/_modal_delete.html" %}
        <footer class="footer mt-auto py-3">
            <div class="container pb-5">
                <hr>
                <span class="text-muted">
                    Copyright &copy; 2020 | <a href="https://www.elephantsql.com/">ElephantSQL</a>
                </span>
            </div>
        </footer>
        <script src="static/js/dbhelper.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>
</html>